<html>
  <head>
    <title>Abzooba SSO Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/main.css" />
  </head>
  <body>

      <div class="wrapper">
        <div id="formContent">
          <!-- Tabs Titles -->

          <div class="first">
            <img src="http://abzooba.com/Abzooba_2019/wp-content/uploads/2019/04/final-logo-e1554732799177.png" id="icon" alt="User Icon" />
          </div>

          <!-- Login Form -->
        {% if validation_token %}
        <form action="/sso/login?validation_token={{ validation_token }}" method="post">
        {% else %}
        <form action="/sso/login" method="post">
        {% endif %}

              <input type="text" class="second" placeholder="Username" name="username" value="{{request.form.username }}">
               <input type="password" class="third" placeholder="Password" name="password" value="{{request.form.password }}">
              <input class="fourth" type="submit" value="Login">
          </form>

          <!-- Remind Passowrd -->
          <div id="formFooter">
            <!--a class="underlineHover" href="#">Forgot Password?</a-->
            {% if error %}
              <p class="error"><strong>Error:</strong> {{ error }}
            {% endif %}
          </div>

        </div>
      </div>
  </body>
</html>

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
